<h1>burgers!</h1>

<img src="https://i.amz.mshcdn.com/CJ_trgOS3CWBl7DzOTxuDYXa8u0=/950x534/filters:quality(90)/https%3A%2F%2Fblueprint-api-production.s3.amazonaws.com%2Fuploads%2Fcard%2Fimage%2F635122%2F0cc0ff70-8122-4536-91ae-fdcbc2b495ef.jpg"> 

<h2>Eat-Da-Burger!</h2>

<ul class="before">
  {{#each burgers}} {{#unless devoured}} {{> burgers/burger-block devour=true}} {{/unless}} {{/each}}
</ul>


<ul class="done">
  <h1>Burgers Eaten</h1>
  {{#each burgers}} {{#if devoured}} {{> burgers/burger-block devour=false}} {{/if}} {{/each}}
</ul>


<form class="create-form">

  <div class="form-group">
    <input type="text" id="ca" name="name">
  </div>

  <button type="submit">Submit</button>
</form>